TG__BOT_TOKEN=<bot token>

GPT__API_TOKEN=<gpt token>

DB__USER=<db user>
DB__PASSWORD=<db password>
DB__HOST=<db host>
DB__PORT=5432
DB__NAME=<db name>

DB__ECHO=True
DB__POOL_SIZE=5
DB__MAX_OVERFLOW=10
DB__POOL_PRE_PING=True
DB__POOL_RECYCLE=300

DB__AUTOFLUSH=False
DB__EXPIRE_ON_COMMIT=False

LOG__LEVEL_CONSOLE=INFO
LOG__LEVEL_FILE=DEBUG
LOG__FILE_PATH=logs/app.log
LOG__ROTATION=1 week
LOG__RETENTION=30 days
LOG__ENQUEUE=True
LOG__JSON=False
LOG__BACKTRACE=False
